<%- include('partials/header.ejs') %>

<!-- sign in/sign up page  -->
<div class="container d-flex align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-5 d-flex justify-content-center">
            <div class="card h-75 mb-3 mb-lg-0 ms-lg-4 tan-card">
                <div class="card-body">
                    <h3 class="card-title mb-3 text-center">Sign In</h3>
                    <form action="/login" method="POST">
                        <div class="form-floating mb-2">
                            <input name="loginUsername" type="text" class="form-control card-form" id="loginUsername" placeholder="" />
                            <label for="loginUsername" class="form-label">Username</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input name="loginPassword" type="password" class="form-control card-form" id="loginPassword" placeholder="" />
                            <label for="loginPassword" class="form-label">Password</label>
                        </div>
                        <div class="d-flex align-items-center mb-3" style="height: 58px;">
                            <div class="form-check">
                                <input class="form-check-input card-form" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn rounded-pill p-2 green-button" type="submit">Login</button>
                            <strong class="ps-lg-4"><a href="/resetPassword" class="dark-green-text">Forgot Password?</a></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-1 text-center p-2 p-lg-0">
            <h5>OR</h5>
        </div>
        <div class="col-lg-5 d-flex justify-content-center">
            <div class="card h-75 mt-3 mt-lg-0 me-lg-4 dark-green-card">
                <div class="card-body">
                    <h3 class="card-title mb-3 text-center light-green-text">Sign Up</h3>
                    <form action="/register" method="POST">
                        <div class="form-floating mb-2">
                            <input name="email" type="email" class="form-control card-form" id="email" placeholder="" />
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input name="registerPassword" type="password" class="form-control card-form" id="registerPassword" placeholder="" />
                            <label for="registerPassword" class="form-label">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="confirmPassword" type="password" class="form-control card-form" id="confirmPassword" placeholder="" />
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                        </div>
                        <button class="btn rounded-pill p-2 green-button" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>